/* General */

*{
    padding:0;
    margin:0;
}

body{
    margin: 0 auto;
    font-family : "Open Sans";
    overflow:auto;
}

h1{
    position:static;
    text-align:center;
    font-family: "Alegreya";
    padding-top:15px;
}

/* Header + border */

.bandeau{
    position:relative;
    background-color:#1E88E5;
    height:80px;
    width:100%;
    color:white;
    box-shadow: -1px 1px 5px 1px #9E9E9E;
    z-index:2;
}

.bande_gauche{
    position:fixed;
    background-color:#1565C0;
    top:0;
    left:0;
    width:15%;
    min-height: 100%;
    max-height:10000em;
    box-shadow:2px -1px 5px 1px #9E9E9E;
    z-index: 1;
}

.bande_droite{
    position:fixed;
    background-color:#1565C0;
    top:0;
    right:0;
    width:15%;
    min-height: 100%;
    max-height:10000em;
    box-shadow:-2px -1px 5px 1px #9E9E9E;
    z-index: 1;
}

/* Get help button */

 #help{
     position:absolute;
     top:10px;
     right:10px;

     border:none;
     background-color:#82B1FF;
     font-weight: bold;
     text-decoration: none;
     color:white;
     padding-top:0.75em;
     height:2.25em;
     width:6em;
     text-align:center;
     font-size:1.25em;
     box-shadow:inset 0px 0px 4px 1px #757575;
     border-radius:4px;

     z-index:2;
 }

 #help:hover{
     box-shadow: inset 0px 0px 6px 2px #757575;
 }

 #help:active{
    box-shadow: inset 0px 0px 6px 3px #757575;
 }

/* Form */

form{
    border-radius:10px;
    width:425px;
    padding:1em;
    text-align:center;
}

#dump{
    position:relative;
    left:+20%;
    z-index:2;
}

form label{
    font-family: "Alegreya";
    font-weight: bold;
    font-size:1.5em;
    text-align:center;
}

form br{
    line-height: 2.5em;
}

textarea{
    box-shadow: inset 0px 0px 3px 1px #757575;
    border-radius:4px;
    padding: 5px;
    resize:none;
    width:350px;
}

textarea:hover{
    box-shadow: inset 0px 0px 5px 1px #757575;
}

textarea:focus{
    outline:none;
    box-shadow: inset 0px 0px 5px 1px #757575;
}

#dump_button{
    border-radius:3px;
    border:none;
    width:150px;
    height:50px;
    font-size: 1.25em;
}

#dump_button:hover{
    box-shadow: 0px 1px 3px 1px #757575;
}

#dump_button:active{
    box-shadow: inset 0px 1px 3px 1px #757575;
    outline:none;
}

hr{
    height:2.5px;
    border-radius:100px;
    background-color:#1565C0;
    width:65%;
    margin:0 auto;
    margin-top:25px;
    border:none;
}

/* Comment to help the user */

.comment_holder{
    position:absolute;
    z-index:3;
    font-size:1em;
    right:-120%;
    top:-30%;
}

.comment{
    font-family: "Gloria Hallelujah";
    color:#9E9E9E;
    font-style:italic;
}

#normal:before{
    content:'Adress '
}

#withNetid:before{
    content:'Adress/<Net-Id> ';
}

.warning{
    position:relative;
    left:-250px;
    top:+150px;

}

/* dump_area */

#dump_area{
    position:relative;
    left:+20%;
    margin-top:25px;
    width:50%
}

.adresse{
    margin-left:4em;
}

.resultat{
    margin-left:8em;
}

/* Version petit ecran */

@media only screen and (max-width:1600px){
    /* Modification de la position de textarea/bouton au milieu, alignement du commentaire entre le textarea et le bouton*/
    #dump{
        position:static;
        margin:0 auto;
    }

    .comment_holder{
        position:relative;
        top:-120px;
        left:0px;
    }

    .comment{
        font-family: "Gloria Hallelujah";
        font-style:italic;
        font-weight: none;
        color:#9E9E9E;
    }

    .warning{
        position:relative;
        left:-250px;
        top:+150px;
    }

    #dump_button{
        position:relative;
        top:-100px;
    }
}

@media only screen and (max-width:700px){
    /* Modification de la position de textarea au milieu, alignement du commentaire entre le textarea et le bouton*/
    /* Reduction des bandes */
    .bande_droite{
        width:5%
    }
    
    .bande_gauche{
        width:5%
    }

    hr{
        width:85%
    }
}

@media only screen and (max-width:600px){
    /* taille de l'image en % 
    textarea en pourcentage*/
}